
.page-container{
  width: 100%;
  margin: 20px;
}

.word-info-container {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
 align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid #eeeeee;
}

.button-wrap{
  display:block;
  width: 150px;
  margin-top: 10px;
}

@media (max-width:  576px) {
  .button-wrap{
    width: 100%;
  }
}

.btn-back{
  height: 100%;
  width: 100%;
  background-color: #33ceff;
  border: 2px solid #2cb6e0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.618;
  padding: 0.5rem 1rem;
  text-align: center;
}