

* {
  box-sizing: border-box;
}

.inner-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
} 
.first-wrap {
  width: 100%;
}
.second-wrap {
  width: 200px;
}
.third-wrap {
  width: 164px;
}


@media screen and (max-width: 767px){
  .inner-form {
    flex-wrap: wrap;
    padding: 20px;  
  }
  .first-wrap{
    margin: 5px 0px;
  }
  .second-wrap {
    width: 100%;
    margin: 5px 0px;
  }
  .third-wrap {
    width: 100%;
    margin: 5px 0px;
  }
}

input, button, select {
  font-family: "Raleway", sans-serif;
}

.search-field {
  height: 50px;
  width: 100%;
  background: #fff;
  border: 0;
  display: block;
  padding: 10px 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #e5e5e5;
}


.input-field input:focus {
  outline: 0;
  box-shadow: none;
}

.languaes-select {
  -webkit-appearance: button;
  border-radius: 0px;
  /* -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-color: #fff;
  background-image: url(http://i62.tinypic.com/15xvbd5.png);
  background-position: 97% center;
  background-repeat: no-repeat;
  outline: 0;
  color: #888;
  border: 1px solid #e5e5e5;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 50px;
}

.btn-search {
  height: 100%;
  width: 100%;
  background-color: #33ceff;
  border: 2px solid #2cb6e0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.618;
  padding: 0.5rem 1rem;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s ease;
  transition: all .2s ease-out, color .2s ease-out;
  /* transition: all 0.2s ease; */
}

.btn-search:hover {
  background: #1fc4f7;
}

.btn-search:focus {
  outline: 0;
  box-shadow: none;
}

