

.word-tag {
  background-color: #33ceff;
  border: 1px solid #0c87d1;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9em;
  font-family: Helvetica, sans-serif;
  padding: 4px 10px;
  box-shadow: none;
  margin: 5px;
}

.btn-back{
  height: 100%;
  width: 100%;
  background-color: #33ceff;
  border: 2px solid #2cb6e0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.618;
  padding: 0.5rem 1rem;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s ease;
  transition: all .2s ease-out, color .2s ease-out;
  /* transition: all 0.2s ease; */
}